{% extends 'main.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}
<div class="card mb-2">
    <div class="card-body">
        <strong>{% trans %}Nom{% endtrans %}</strong>: {{patient.nom}} <br>
        <strong>{% trans %}Prenom{% endtrans %}</strong>: {{patient.prenom}}<br>
        <strong>{% trans %}Quartier{% endtrans %}</strong>: {{patient.quartier}} <br>
        <strong>{% trans %}Date de naissance{% endtrans %}</strong>: {{patient.neLe|date("d/m/Y")}}<br>
    </div>
</div>
<a href="{{path('patient_result',{id:patient.id})}}" class="btn btn-primary mb-2">
    {% trans %}Voir les Resultat d'exament du patient{% endtrans %}
</a>
<div class="card mb-2">
    <div class="card-header">
        <h5>{% trans %}Nouvelle Consultation{% endtrans %}</h5>
    </div>
    <div class="card-body">
        {{form_start(form)}}
        <div class="row">
            <div class="col">
                {{form_row(form.type)}}
            </div>
            <div class="col">
                {{form_row(form.prix)}}
            </div>
        </div>
        {{form_end(form)}}

    </div>
</div>

<div class="row row-cols-2 row-cols-md-3 g-3">
    {% for consultation in consultations %}
    <!-- Consultation Card 1 -->
    <div class="col">
        <div class="card">

            <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                    <a href="{{path('patient_print_consultation',{id:consultation.id})}}"
                        class="btn btn-icon btn-sm btn-outline-primary">
                        <i class='tf-icons bx bxs-download'></i>
                    </a>
                    {% if consultation.terminer %}
                    <span class="text-success"><i class='bx bx-check-circle fs-3'></i></span>
                    {% else %}
                    <span class="text-warning"><i class='bx bx-time fs-3'></i></span>
                    {% endif %}
                </div>
                <h5 class="card-title">#{{consultation.id}}</h5>
                <p class="card-text">
                    <strong>{% trans %}Date{% endtrans %}:</strong> {{consultation.createAt|date("d-m-Y")}}<br>
                    <strong>{% trans %}Type{% endtrans %} :</strong> {{consultation.type}}<br>
                </p>
                <div class="d-flex justify-content-between">
                    <div style="display:flex ;flex-direction:column; align-items:center">
                        <strong>
                            {% trans %}Examens{% endtrans %}
                        </strong>
                        <div>{{consultation.examents|length}}</div>
                    </div>
                    <div style="display:flex ;flex-direction:column; align-items:center">
                        <strong>
                            {% trans %}Ordonnances{% endtrans %}
                        </strong>
                        <div>{{consultation.ordonances|length}}</div>
                    </div>
                </div>
                <div class="d-grid mt-2">
                    <a href="{{ path('consultation_details',{id:consultation.id}) }}" class="btn btn-primary">{% trans
                        %}Détails{% endtrans %}</a>
                    <a href="{{path('consultation_remove',{id:consultation.id})}}" class="btn btn-danger btn-sm">
                        {% trans %}
                        Annuler la consultation
                        {% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>


{% endblock %}