{% extends 'main.html.twig' %} {% block title %}Hello MainController!{% endblock %}
{% block css %}
<link rel="stylesheet" href="/assets/vendor/libs/flatpickr/flatpickr.css" />

{% endblock %}
{% block body %}
<div class="row g-4 mb-4">

  <div class="col-sm-6 col-xl-4 co-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Patient</span>
            <div class="d-flex align-items-end mt-2">
              <h4 class="mb-0 me-2">
                {{ patients |length }}
              </h4>
              {# <small class="text-success">(+18%)</small> #}
            </div>
          </div>
          <div class="avatar">
            <span class="avatar-initial rounded bg-label-danger">
              <i class="bx bx-user-check bx-sm"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-4 co-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Utilisateurs</span>
            <div class="d-flex align-items-end mt-2">
              <h4 class="mb-0 me-2">19,860</h4>
              {# <small class="text-danger">(-14%)</small> #}
            </div>
            {#
            <p class="mb-0">Last week analytics</p>
            #}
          </div>
          <div class="avatar">
            <span class="avatar-initial rounded bg-label-success">
              <i class="bx bx-group bx-sm"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-4 co-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Consultation Encours</span>
            <div class="d-flex align-items-end mt-2">
              <h4 class="mb-0 me-2">237</h4>
              {# <small class="text-success">(+42%)</small> #}
            </div>
          </div>
          <div class="avatar">
            <span class="avatar-initial rounded bg-label-warning">
              <i class="bx bx-user-voice bx-sm"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    {{ component('ChercheConsultation') }}

    <div class="card mt-2">
      {% if is_granted('ROLE_RECEPTION') %}
      <div class="card-header">
        <div class="d-flex justify-content-end">
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Ajouter un
            patient</button>
        </div>
      </div>
      {% endif %}
      <div class="card-body">
        {{ component('ListUserHome') }}.
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nouveau patient</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            {{form(addForm)}}
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="col-6">
    {{ component('ChercheExam') }}
  </div>
</div>
{% endblock %}