{% extends 'main.html.twig' %}

{% block title %}Consultation #{{consultation.id}}{% endblock %}

{% block body %}
<h5>Consultation #{{consultation.id}}</h5>
<div class="card mb-2">
    <div class="card-body">
        <div class="card-title">
            <h4>
                {% trans %}Information du Patient{% endtrans %}
            </h4>
        </div>
        <div class="card-text">
            <b>{% trans %}Nom{% endtrans %} :</b> {{patient.nom}} <br>
            <b>{% trans %}Prenom{% endtrans %} :</b> {{patient.prenom}} <br>
            <b>{% trans %}Phone{% endtrans %} :</b> {{patient.telephone}} <br>
            <b>{% trans %}Date de naissance{% endtrans %} :</b> {{patient.neLe |date("d/m/Y")}} <br>
        </div>
    </div>
</div>
<div class="accordion" id="accordionWithIcon">
    <div class="card accordion-item active mb-2">
        <h2 class="accordion-header d-flex align-items-center">
            <button type="button" class="accordion-button" data-bs-toggle="collapse"
                data-bs-target="#accordionWithIcon-1" aria-expanded="true">
                <i class="fa-solid fa-pills me-2"></i>
                {% trans %}Ordonnances{% endtrans %} ({{ordonnaces|length}})
            </button>
            {% if is_granted('ROLE_CONSULTATION') %}
            <a href="{{path('consultation_add_ordonnace',{id:consultation.id})}}" class="btn btn-label-primary me-2">
                {% trans %}Ajouter{% endtrans %}
            </a>
            {% endif %}
        </h2>

        <div id="accordionWithIcon-1" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row">
                    {% for ordonnace in ordonnaces %}
                    <div class="col-md-4">
                        <div class="card shadow-none bg-transparent border border-primary">
                            <div class="card-body">
                                <h5 class="card-title">#OR-{{ordonnace.id}}</h5>
                                <p class="card-text">
                                <ol>
                                    {% for cont in ordonnace.itemsToArray %}
                                    <li>
                                        {{cont.nom}} ({{cont.type}})
                                    </li>
                                    {% endfor %}
                                </ol>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item card">
        <h2 class="accordion-header d-flex align-items-center">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                data-bs-target="#accordionWithIcon-2" aria-expanded="false">
                <i class="fa-solid fa-microscope me-2"></i>
                {% trans %}Examents{% endtrans %} ({{examents|length}})
            </button>
            {% if is_granted('ROLE_CONSULTATION') %}
            {# <button data-bs-toggle="modal" data-bs-target="#addExam"
                class="btn btn-label-primary me-2">Ajouter</button> #}
            <a href="{{path('consultation_add_exam',{id:consultation.id})}}" class="btn btn-label-primary me-2">
                {% trans %}Ajouter{% endtrans %}
            </a>
            {% endif %}
        </h2>
        <div id="accordionWithIcon-2" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="row">
                    {% for exament in examents %}
                    {% set total = 0 %}
                    <div class="col-md-4">
                        <div
                            class="card shadow-none bg-transparent border {% if exament.isPayed %}border-success {% else %} border-success{% endif %}">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-2">
                                    <strong>Status:
                                        {% if exament.etat %}
                                        <span class="text-success">{% trans %}Traiter{% endtrans %}</span>
                                        {% else %}
                                        <span class="text-warning">{% trans %}Non traiter{% endtrans %}</span>
                                        {% endif %}
                                    </strong>
                                    <strong>Etat:
                                        {% if exament.isPayed %}
                                        <span class="text-success">{% trans %}Payer{% endtrans %}</span>
                                        {% else %}
                                        <span class="text-warning">{% trans %}Non payer{% endtrans %}</span>
                                        {% endif %}
                                    </strong>
                                </div>
                                <h5 class="card-title">#EX-{{exament.id}}</h5>
                                <p class="card-text">
                                <ol>
                                    {% for item in exament.items %}
                                    {% set total = total + item.prix %}
                                    <li>
                                        {{item.nom}} ({{item.prix}} XFA)
                                    </li>
                                    {% endfor %}
                                </ol>
                                <h5>ToTal: {{total}} XFA</h5>
                                </p>
                                <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                                    {% if is_granted('ROLE_RECEPTION') and (not exament.isPayed) %}
                                    <a href="{{path('app_main_paye_xam',{id:exament.id})}}"
                                        class="btn btn-success btn-sm">
                                        {% trans %}
                                        Payer
                                        {% endtrans %}
                                    </a>
                                    {% endif %}
                                    <a href="{{path('print_exam',{id:exament.id})}}" class="btn btn-primary btn-sm">
                                        {% trans %}
                                        Imprimer
                                        {% endtrans %}
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    =
</div>
{% endblock %}