{% extends 'main.html.twig' %}

{% block title %}{% trans %}Examens disponible{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}Examens disponible{% endtrans %}</h1>
<a class="btn btn-primary" href="{{ path('app_exam_item_new') }}">{% trans %}Ajouter{% endtrans %}</a>

<div class="card mt-2">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <th>{% trans %}Nom{% endtrans %}</th>
                    <th>{% trans %}Prix{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for exam_item in exam_items %}
                <tr>
                    <td>{{ exam_item.id }}</td>
                    <td>{{ exam_item.nom }}</td>
                    <td>{{ exam_item.prix }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary rounded-pill"
                            href="{{ path('app_exam_item_show', {'id': exam_item.id}) }}">{% trans %}Voir{% endtrans
                            %}</a>
                        <a class="btn btn-sm btn-warning rounded-pill"
                            href="{{ path('app_exam_item_edit', {'id': exam_item.id}) }}">{% trans %}Editer{% endtrans
                            %}</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">{% trans %}no records found{% endtrans %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}