{% extends 'main.html.twig' %}

{% block title %}
{% trans %}List des medicaments{% endtrans %}
{% endblock %}

{% block body %}
<h4>{% trans %}List des medicaments{% endtrans %}</h4>


<a class="btn btn-primary mb-2" href="{{ path('app_admin_medicament_controlleur_new') }}">
    {% trans %}Ajouter{% endtrans %}
</a>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>{% trans %}Nom{% endtrans %}</th>
                    <th>
                        {% trans %}Type{% endtrans %}
                    </th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for medicament in medicaments %}
                <tr>
                    <td>{{ medicament.id }}</td>
                    <td>{{ medicament.nom }}</td>
                    <td>{{ medicament.type }}</td>
                    <td>
                        <a class="btn rounded-pill btn-primary text-bold"
                            href="{{ path('app_admin_medicament_controlleur_show', {'id': medicament.id}) }}">
                            {% trans %}Voir{% endtrans %}
                        </a>
                        <a class="btn rounded-pill btn-warning"
                            href="{{ path('app_admin_medicament_controlleur_edit', {'id': medicament.id}) }}">
                            {% trans %}Editer{% endtrans %}
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">
                        {% trans %}
                        no records found
                        {% endtrans %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}