{% extends 'main.html.twig' %}

{% block title %}Medicament{% endblock %}

{% block body %}
<h4>Details</h4>
<div class="d-flex justify-content-between mb-2">
    <a class="btn btn-sm btn-primary" href="{{ path('app_admin_medicament_controlleur_index') }}">
        {% trans %}
        Retour
        {% endtrans %}
    </a>

    <a class="btn btn-sm btn-primary" href="{{ path('app_admin_medicament_controlleur_edit', {'id': medicament.id}) }}">
        {% trans %}
        Editer
        {% endtrans %}
    </a>

</div>
<div class="card mb-2">
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <td>{{ medicament.id }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Nom{% endtrans %}</th>
                    <td>{{ medicament.nom }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Type{% endtrans %}</th>
                    <td>{{ medicament.type }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

{{ include('admin_medicament_controlleur/_delete_form.html.twig') }}
{% endblock %}