<div {{ attributes }}>
    <div class="input-group ">
        <span class="input-group-text">
            <i class='bx bx-search'></i>
        </span>
        <input type="text" data-model="query" class="form-control"
            placeholder="{% trans %}Chercher un patient{% endtrans %}">
    </div>
    <!-- component html -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans %}Nom{% endtrans %}</th>
                <th>{% trans %}Prenom{% endtrans %}</th>
                <th>{% trans %}Quartier{% endtrans %}</th>
                <th>{% trans %}Téléphone{% endtrans %}</th>
                <th>{% trans %}Date de naissance{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {% for patient in this.patients %}
            <tr>
                <th scope="row">1</th>
                <td>{{patient.nom}}</td>
                <td>{{patient.prenom}}</td>
                <td>{{patient.quartier}}</td>
                <td>{{patient.telephone}}</td>
                <td>
                    {{patient.neLe|date('d-m-Y')}}
                </td>
                <td>
                    <div class="demo-inline-spacing">
                        <a href="{{path('patient_detail',{id:patient.id})}}" class="btn btn-icon btn-outline-primary">
                            <i class='tf-icons bx bx-show'></i>
                        </a>
                        {# <button type="button" class="btn btn-icon btn-outline-warning">
                            <i class='tf-icons bx bx-edit'></i>
                        </button> #}
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{path('patient_remove',{id:patient.id})}}" type="button"
                            class="btn btn-icon btn-outline-danger">
                            <i class='tf-icons bx bx-trash'></i>
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>