<div {{ attributes }}>
    <div class="input-group " >
        <span class="input-group-text">
            <i class='bx bx-search'></i>
        </span>
        <input type="text" data-model="query" class="form-control" placeholder="Chercher un patient">
    </div>
    <!-- component html -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Téléphone</th>
                <th>Date de naissance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {% for patient in this.patients %}
            <tr>
                <th scope="row">1</th>
                <td>{{patient.nom}}</td>
                <td>{{patient.prenom}}</td>
                <td>{{patient.telephone}}</td>
                <td>
                    {{patient.neLe|date('d-m-Y')}}
                </td>
                <td>
                    <div class="demo-inline-spacing">
                        <a href="{{path('patient_detail',{id:patient.id})}}" class="btn btn-icon btn-outline-primary">
                            <i class='tf-icons bx bx-show' ></i>
                        </a>
                        <button type="button" class="btn btn-icon btn-outline-warning">
                            <i class='tf-icons bx bx-edit'></i>
                        </button>
                        <button type="button" class="btn btn-icon btn-outline-danger">
                            <i class='tf-icons bx bx-trash'></i>
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>