{% extends 'main.html.twig' %}

{% block title %}{{user.username}}{% endblock %}

{% block body %}

<div class="d-flex justify-content-between">
    <a class="btn btn-sm btn-primary" href="{{ path('app_user_index') }}">{% trans %}Retour{% endtrans %}</a>
    <a class="btn btn-sm btn-warning" href="{{ path('app_user_edit', {'id': user.id}) }}">
        {% trans %}Modifier{% endtrans %}
    </a>
</div>
<div class="card mt-2">
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>{% trans %}Username{% endtrans %}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Roles{% endtrans %}</th>
                    <td>{{ user.roles ? user.role }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Nom{% endtrans %}</th>
                    <td>{{ user.nom }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Prenom{% endtrans %}</th>
                    <td>{{ user.prenom }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Genre{% endtrans %}</th>
                    <td>{{ user.genre }}</td>
                </tr>
                <tr>
                    <th>Civilite</th>
                    <td>{{ user.civilite }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{ include('user/_delete_form.html.twig') }}
{% endblock %}